<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
    <script>
    function info()
    {
        alert("Para regresar a la pagina principal haz click en el banner")
    }
    </script>
</head>
<body onload="info()">
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>     
    </header>
    <div id="unidades">
        <a href="./unidad 1.html">
            <div id="a">
                <img src="../Resources/index/unidad 1.png" alt="unidad 1">
                <span>
                    Evolución y desarrollo de las computadoras
                </span>   
            </div>
        </a>
        <a href="./unidad 2.html">
            <div id="b">
                <img src="../Resources/index/unidad 2.png" alt="unidad 2">
                <span>
                    Sistemas de Buses
                </span>    
            </div>
        </a>
        <a href="./unidad 3.html">
            <div id="c">
                <img src="../Resources/index/unidad 3.png" alt="unidad 3">
                <span>
                    Elementos de la Memoria
                </span>    
            </div>
        </a>
        <a href="./unidad 4.html">
            <div id="d">
                <img src="../Resources/index/unidad 4.png" alt="unidad 4">
                <span>
                    Unidad Central de Procesamiento
                </span>    
            </div>
        </a>
        <a href="./unidad 5.html">
            <div id="e">
                <img src="../Resources/index/unidad 5.png" alt="unidad 5">
                <span>
                        Periféricos
                </span>    
            </div>
        </a>
    </div>
</body>
</html>