<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/unidad 3.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>
        <nav>
            <a href="./unidad 1.html">
                <div>
                    <span>
                        Unidad 1
                    </span>
                </div>
            </a>
            <a href="./unidad 2.html">
                <div>
                    <span>
                        Unidad 2
                    </span>
                </div>
            </a>
            <a href="./unidad 3.html">
                <div>
                    <span>
                        Unidad 3
                    </span>
                </div>
            </a>
            <a href="./unidad 4.html">
                <div>
                    <span>
                        Unidad 4
                    </span>
                </div>
            </a>
            <a href="./unidad 5.html">
                <div>
                    <span>
                        Unidad 5
                    </span>
                </div>
            </a>
        </nav>
    </header>

    <div id="info">
        
    </div>
</body>
</html>