<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/unidad 3.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>
        <nav>
            <a href="./unidad 1.html">
                <div>
                    <span>
                        Unidad 1
                    </span>
                </div>
            </a>
            <a href="./unidad 2.html">
                <div>
                    <span>
                        Unidad 2
                    </span>
                </div>
            </a>
            <a href="./unidad 3.html">
                <div>
                    <span>
                        Unidad 3
                    </span>
                </div>
            </a>
            <a href="./unidad 4.html">
                <div>
                    <span>
                        Unidad 4
                    </span>
                </div>
            </a>
            <a href="./unidad 5.html">
                <div>
                    <span>
                        Unidad 5
                    </span>
                </div>
            </a>
        </nav>
    </header>

    <div id="info">
        <h2>
            Memoria Principal
        </h2>
        <div class="inline">
            <img src="../Resources/unidad 3/memoria principal.png" alt="memoria RAM" id="ram">
            <p>
                La memoria principal  es el dispositivo donde se almacenan temporalmente tanto los datos como los programas que la CPU está procesando o va a procesar en un determinado momento. Por su función, es una amiga inseparable del microprocesador, con el cual se comunica a través de los buses de datos.
                Por ejemplo, cuando la CPU tiene que ejecutar un programa, primero lo coloca en la memoria y después lo empieza a ejecutar. lo mismo ocurre cuando necesita procesar una serie de datos; antes de poder procesarlos los tiene que llevar a la memoria principal.
                Esta clase de memoria es volátil, es decir que, cuando se corta la energía eléctrica, se borra toda la información que estuviera almacenada en ella.
                Por su función, la cantidad de memoria RAM de que disponga una computadora es una factor muy importante; hay programas y juegos que requieren una gran cantidad de memoria para poder usarlos. otros andarán más rápido si el sistema cuenta con más memoria RAM.
                La memoria Caché: dentro de la memoria RAM existe una clase de memoria denominada Memoria Caché que tiene la característica de ser más rápida que las otras, permitiendo que el intercambio de información entre el procesador y la memoria principal sea a mayor velocidad.
            </p>
        </div>
        <h2>
            DRAM
        </h2>
        <div class="inline">
            <p>
                DRAM son las siglas de la voz inglesa Dynamic Random Access Memory, que significa memoria dinámica de acceso aleatorio (o RAM dinámica), para denominar a un tipo de tecnología de memoria RAM basada en condensadores, los cuales pierden su carga progresivamente, necesitando de un circuito dinámico de refresco que, cada cierto período, revisa dicha carga y la repone en un ciclo de refresco. En oposición a este concepto surge el de memoria SRAM (RAM estática), con la que se denomina al tipo de tecnología RAM basada en semiconductores que, mientras siga alimentada, no necesita refresco.
            </p>
            <img src="../Resources/unidad 3/dram.jpg" alt="DRAM">
        </div>
        <h2>
            Discos magneticos
        </h2>
        <div class="inline">
            <img src="../Resources/unidad 3/discos magneticos.jpg" alt="discos mageneticos">
            <p>
                Un disco magnético (flexible o rígido) sirve como soporte de almacenamiento de datos para archivos de información.
                Almacena los bytes de estos archivos en uno o varios sectores de pistas circulares.                  
                Es un tipo de soporte magnético, que utiliza discos de materiales con propiedades magnéticas (magnetismo) para almacenar información digital. 
                Los discos magnéticos son aparatos que contienen microlamina encerrada en medio de esta. Fueron muy efectivos, pues tuvieron mayor capacidad de almacenamiento, además las computadoras IBM tenían este puerto de acceso, existieron varios títulos. Tipos de discos magnéticos. Discos flexibles. Discos intercambiables. Discos fijos. Paquetes de discos. Discos cartucho. Discos con tecnología Winchester. Discos winchester disco duro:Un desarrollo reciente es el disco Winchester. 
            </p>
        </div>
    </div>

    
</body>
</html>