<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/unidad 2.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>
        <nav>
            <a href="./unidad 1.html">
                <div>
                    <span>
                        Unidad 1
                    </span>
                </div>
            </a>
            <a href="./unidad 2.html">
                <div>
                    <span>
                        Unidad 2
                    </span>
                </div>
            </a>
            <a href="./unidad 3.html">
                <div>
                    <span>
                        Unidad 3
                    </span>
                </div>
            </a>
            <a href="./unidad 4.html">
                <div>
                    <span>
                        Unidad 4
                    </span>
                </div>
            </a>
            <a href="./unidad 5.html">
                <div>
                    <span>
                        Unidad 5
                    </span>
                </div>
            </a>
        </nav>
    </header>

    <div id="info">
        <div id="d">
            <p>
                Existen dos organizaciones físicas de operaciones E/S que tienen que ver con los buses que son: 
            </p> 
            
            <div>
                
                <img src="../Resources/unidad 2/estructura de un bus.gif" alt="estructura de un bus">
            </div>
            <ul>
                <li>
                    Bus único
                </li>
                <li>
                    Bus dedicado
                </li>
            </ul>
        </div>
        <div>
            <h2>
                El bus ISA
            </h2>
            <br>
            <p>
                    La versión original del bus ISA (Arquitectura estándar de la industria) que apareció en 1981 con PC XT fue un bus de 8 bits con una velocidad de reloj de 4,77 MHz.
                    En 1984, con la aparición de PC AT (el procesador Intel 286), el bit se expandió a un bus de 16 bits y la velocidad de reloj pasó de 6 a 8 MHz y finalmente a 8,33 MHz, ofreciendo una velocidad de transferencia máxima de 16 Mb/s (en la práctica solamente 8 Mb/s porque un ciclo de cada dos se utilizó para direccionar).
                    El bus ISA admitió el bus maestro, es decir, permitió que los controladores conectados directamente al bus se comunicaran directamente con los otros periféricos sin tener que pasar por el procesador. Una de las consecuencias del bus maestro es sin dudas el acceso directo a memoria (DMA). Sin embargo, el bus ISA únicamente permite que el hardware direccione los primeros 16 megabytes de RAM.
            </p>
            <table>
                <tr>
                    <td>
                       <span>
                            Conector ISA de 8 bits
                       </span> 
                    </td>
                    <td>
                        <span>
                            Conector ISA de 16 bits
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../Resources/unidad 2/isa-8.gif" alt="isa 8 bits">
                    </td>
                    <td>
                        <img src="../Resources/unidad 2/isa-16.gif" alt="isa 16 bits">
                    </td>
                </tr>
            </table>
            <div>
                <h2>
                    Buses
                </h2>
                <p>
                    <table>
                        <tr>
                            <td>
                                BUS SERIAL UNIVERSAL
                            </td>
                            <td>
                                FIREWIRE
                            </td>
                        </tr>
                        <tr>
                            <td>
                                El Bus Universal en Serie (BUS) (en inglés: Universal Serial Bus), más conocido por la sigla USB, es un bus de comunicaciones que sigue un estándar que define los cables, conectores y protocolos usados en un bus para conectar, comunicar y proveer de alimentación eléctrica entre computadoras, periféricos y dispositivos electrónicos.
                            </td>
                            <td>
                                es un estándar internacional (IEEE 1394) que especifica un interfaz serie de elevado rendimiento para la interconexión de equipos electrónicos digitales de audio, vídeo, ordenadores y periféricos. Se trata de una solución de bajo coste, no propietaria e independiente de la plataforma que soporta transmisiones serie a 100, 200 ó 400 megabits por segundo (Mbps).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../Resources/unidad 2/USB.png" alt="USB">
                            </td>
                            <td>
                                <img src="../Resources/unidad 2/FIREWIRE.jpg" alt="FIREWIRE">
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
        

        
    </div>
</body>
</html>