<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/unidad 5.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>
        <nav>
            <a href="./unidad 1.html">
                <div>
                    <span>
                        Unidad 1
                    </span>
                </div>
            </a>
            <a href="./unidad 2.html">
                <div>
                    <span>
                        Unidad 2
                    </span>
                </div>
            </a>
            <a href="./unidad 3.html">
                <div>
                    <span>
                        Unidad 3
                    </span>
                </div>
            </a>
            <a href="./unidad 4.html">
                <div>
                    <span>
                        Unidad 4
                    </span>
                </div>
            </a>
            <a href="./unidad 5.html">
                <div>
                    <span>
                        Unidad 5
                    </span>
                </div>
            </a>
        </nav>
    </header>

    <div id="info">
        <h2>
            Teclado
        </h2>
        <div class="inline">
            <img src="../Resources/unidad 5/teclado.jpg">
            <p>
                    dispositivo o periférico de entrada, en parte inspirado en el teclado de las máquinas de escribir, que utiliza un sistema de botones o teclas, para que actúen como palancas mecánicas o interruptores electrónicos que envían toda la información a la computadora
            </p>
        </div>
        <h2>
            Mouse
        </h2>
        <div class="inline">
            <p>
                    El ratón o mouse (en inglés pronunciado /maʊs/) es un dispositivo apuntador utilizado para facilitar el manejo de un entorno gráfico en una computadora. Generalmente está fabricado en plástico, y se utiliza con una de las manos. Detecta su movimiento relativo en dos dimensiones por la superficie plana en la que se apoya, reflejándose habitualmente a través de un puntero, cursor o flecha en el monitor. El ratón se puede conectar de forma alámbrica (puertos PS/2 y USB) o inalámbricamente (comunicación inalámbrica o wireless, por medio de un adaptador USB se conecta a la computadora y esta manda la señal al ratón, también pueden ser por medio de conectividad bluetooth o infrarrojo).
            </p>
            <img src="../Resources/unidad 5/mouse.jpg">
        </div>

        <h2>
                Monitor
        </h2>
        <div class="inline">
            <img src="../Resources/unidad 5/monitor.jpg">
            <p>
                    El monitor de computadora (en Hispanoamérica) o torre (en España) es el principal dispositivo de salida (interfaz), que muestra datos o información al usuario.

                    También puede considerarse un periférico de Entrada/Salida si el monitor tiene pantalla táctil o multitáctil
            </p>
        </div>
        <h2>
            Impresora
        </h2>
        <div class="inline">
            <p>
                    Una impresora es un dispositivo periférico de salida, del ordenador que permite producir una gama permanente de textos o gráficos de documentos almacenados en un formato electrónico, imprimiéndolos en medios físicos, normalmente en papel, utilizando cartuchos de tinta o tecnología láser (con tóner).

                    Muchas de las impresoras son usadas como periféricos de salida, y están permanentemente unidas al ordenador por un cable. Otras impresoras, llamadas impresoras de red, tienen una interfaz de red interno (típicamente wireless o ethernet), y que puede servir como un dispositivo para imprimir en papel algún documento para cualquier usuario de la red.
            </p>
            <img src="../Resources/unidad 5/impresora.jpg">
        </div>

        <h2>
            Scanner
        </h2>
        <div class="inline">
            <img src="../Resources/unidad 5/scanner.jpg">
            <p>
                    Un escáner de ordenador (escáner proviene del idioma inglés scanner) es un periférico que se utiliza para "copiar", mediante el uso de la luz, imágenes impresas o documentos a formato digital (a color o a blanco y negro)
            </p>
        </div>
    </div>
</body>
</html>