<!DOCTYPE html>
<html lang="ee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/unidad 1.css">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Arquitectura de Computadoras</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div>   
                <img src="../Resources/logo.png">
                <span>
                    Arquitectura de Computadoras
                </span>
            </div>
        </a>
        <nav>
            <a href="./unidad 1.html">
                <div>
                    <span>
                        Unidad 1
                    </span>
                </div>
            </a>
            <a href="./unidad 2.html">
                <div>
                    <span>
                        Unidad 2
                    </span>
                </div>
            </a>
            <a href="./unidad 3.html">
                <div>
                    <span>
                        Unidad 3
                    </span>
                </div>
            </a>
            <a href="./unidad 4.html">
                <div>
                    <span>
                        Unidad 4
                    </span>
                </div>
            </a>
            <a href="./unidad 5.html">
                <div>
                    <span>
                        Unidad 5
                    </span>
                </div>
            </a>
        </nav>
    </header>

    <div id="info">
        <div class="line">
        </div>
        <div class="data">
            <span>
                PRIMERA GENERACIÓN (1951-1958)
            </span>
            <br>
            <div class="inline">
                <img src="../Resources/unidad 1/generacion1.png" alt="primera generación">
                <p>
                        Las computadoras de la primera Generación emplearon bulbos para procesar información.
                        La programación se realizaba a través del lenguaje de máquina. Las memorias estaban construidas con finos tubos de mercurio líquido y tambores magnéticos. Los operadores ingresaban los datos y programas en código especial por medio de tarjetas perforadas. El almacenamiento interno se lograba con un tambor que giraba rápidamente, sobre el cual un dispositivo de lectura/escritura colocaba marcas magnéticas.   
                        Estos computadores utilizaban la válvula de vacío. Por lo que eran equipos sumamente grandes, pesados y generaban mucho calor.                       
                        La Primera Generación se inicia con la instalación comercial del UNIVAC construida por Eckert y Mauchly. El procesador de la UNIVAC pesaba 30 toneladas y requería el espacio completo de un salón de 20 por 40 pies.
                </p>
            </div>
        </div>
        <div class="data">
            <span>
                SEGUNDA GENERACIÓN (1959-1964)
            </span>
            <br>
            <div class="inline">
                <img src="../Resources/unidad 1/generacion2.png" alt="segunda generación">
                <p>
                    El Transistor Compatibilidad Limitada sustituye la válvula de vacío utilizada en la primera generación. Los computadores de la segunda generación erán más rápidas, más pequeñas y con menores necesidades de ventilación. Estas computadoras también utilizaban redes de núcleos magnéticos en lugar de tambores giratorios para el almacenamiento primario. Estos núcleos contenían pequeños anillos de material magnético, enlazados entre sí, en los cuales podían almacenarse datos e instrucciones.
                    Los programas de computadoras también mejoraron. COBOL desarrollado durante la 1era generación estaba ya disponible comercialmente. Los programas escritos para una computadora podían transferirse a otra con un mínimo esfuerzo. El escribir un programa ya no requería entender plenamente el hardware de la computación.
                </p>
            </div>
        </div>
        <div class="data">
            <span>
                TERCERA GENERACIÓN (1964-1971)
            </span>
            <br>
            <div class="inline">
                <img src="../Resources/unidad 1/generacion3.png" alt=" generación">
                <p>
                    Circuitos Integrados, Compatibilidad con Equipo Mayor, Multiprogramación, Minicomputadora
                    Las computadoras de la tercera generación emergieron con el desarrollo de los circuitos integrados (pastillas de silicio) en las cuales se colocan miles de componentes electrónicos, en una integración en miniatura. Las computadoras nuevamente se hicieron más pequeñas, más rápidas, desprendían menos calor y eran energéticamente más eficientes.
                    Antes del advenimiento de los circuitos integrados, las computadoras estaban diseñadas para aplicaciones matemáticas o de negocios, pero no para las dos cosas. Los circuitos integrados permitieron a los fabricantes de computadoras incrementar la flexibilidad de los programas, y estandarizar sus modelos.
                    La IBM 360 una de las primeras computadoras comerciales que usó circuitos integrados, podía realizar tanto análisis numéricos como administración ó procesamiento de archivos. Los clientes podían escalar sus sistemas 360 a modelos IBM de mayor tamaño y podían todavía correr sus programas actuales. Las computadoras trabajaban a tal velocidad que proporcionaban la capacidad de correr más de un programa de manera simultánea (multiprogramación)
                </p>
            </div>
        </div>
        <div class="data">
            <span>
                CUARTA GENERACIÓN (1971-1981)
            </span>
            <br>
            <div class="inline">
                <img src="../Resources/unidad 1/generacion4.png" alt=" generación">
                <p>
                    Dos mejoras en la tecnología de las computadoras marcan el inicio de la cuarta generación: el reemplazo de las memorias con núcleos magnéticos, por las de chips de silicio y la colocación de Muchos más componentes en un Chip: producto de la microminiaturización de los circuitos electrónicos. El tamaño reducido del microprocesadory de chips hizo posible la creación de las computadoras personales (PC)
                    En 1971, intel Corporation, que era una pequeña compañía fabricante de semiconductoresubicada en Silicon Valley, presenta el primer microprocesador o Chip de 4 bits, que en un espacio de aproximadamente 4 x 5 mm contenía 2 250 transistores. Este primer microprocesador que se muestra en la figura 1.14, fue bautizado como el 4004.
                    Silicon Valley (Valle del Silicio) era una región agrícola al sur de la bahía de San Francisco, que por su gran producciónde silicio, a partir de 1960 se convierte en una zona totalmente industrializada donde se asienta una gran cantidad de empresas fabricantes de semiconductores y microprocesadores. Actualmente es conocida en todo el mundo como la región más importante para las industrias relativas a la computación: creación de programas y fabricación de componentes.
                    Actualmente ha surgido una enorme cantidad de fabricantes de microcomputadoras o computadoras personales, que utilizando diferentes estructuraso arquitecturas se pelean literalmente por el mercado de la computación, el cual ha llegado a crecer tanto que es uno de los más grandes a nivel mundial; sobre todo, a partir de 1990, cuando se logran sorprendentes avances en Internet.
                </p>
            </div>
        </div>
        <div class="data">
            <span>QUINTA GENERACIÓN (1982-1989)</span>
            <br>
            <div class="inline">
                <img src="../Resources/unidad 1/generacion5.png" alt="quinta generación">
                <p>
                        Con base en los grandes acontecimientos tecnológicos en materia de microelectrónica y computación (software) como CADI CAM, CAE, CASE, inteligencia artificial, sistemas expertos, redes neuronales, teoría del caos, algoritmos genéticos, fibras ópticas, telecomunicaciones, etc., a de la década de los años ochenta se establecieron las bases de lo que se puede conocer como quinta generación de computadoras.
                        Hay que mencionar dos grandes avances tecnológicos, que sirvan como parámetro para el inicio de dicha generación: la creación en 1982 de la primera supercomputadora con capacidad de proceso paralelo, diseñada por Seymouy Cray, quien ya experimentaba desde 1968 con supercomputadoras, y que funda en 1976 la Cray Research Inc.; y el anuncio por parte del gobierno japonés del proyecto "quinta generación", que según se estableció en el acuerdo con seis de las más grandes empresas japonesas de computación, debería terminar en 1992.
                        El proceso paralelo es aquél que se lleva a cabo en computadoras que tienen la capacidad de trabajar simultáneamente con varios microprocesadores. Aunque en teoría el trabajo con varios microprocesadores debería ser mucho más rápido, es necesario llevar a cabo una programación especial que permita asignar diferentes tareas de un mismo proceso a los diversos microprocesadores que intervienen.
                        También se debe adecuar la memoria para que pueda atender los requerimientos de los procesadores al mismo tiempo. Para solucionar este problema se tuvieron que diseñar módulos de memoria compartida capaces de asignar áreas de caché para cada procesador.
                </p>
            </div>
        </div>
    </div>
</body>
</html>