@import "./colors.css";

#d
{
    display: flex;
}
#info div p
{
    padding: 1% 10% 1% 2%;
    text-align: justify;
}


ul 
{
    position: absolute;
    top: 45%;
    left: 5%;
}

table
{
    width: 100%;
    text-align: center;
}

td
{
    text-align: justify;
    padding: 1%;
}